---
---

@import "{{ site.theme }}";

.page-header {
  padding: 5 rem 6 rem 2 rem 6 rem;
}

.page-header {
  text-align: left;
  background-color: transparent;
  background-image: url(images/seal-swimming-hero.jpg);
  background-size: cover;
}
img {
  max-width: 100%;
  height: auto;
}
